<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contxet="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <contxet:property-placeholder location="classpath:properties/redis.properties" ignore-unresolvable="true"/>

    <contxet:component-scan base-package="com.headerits.redis"/>

    <!--配置redis的连接池-->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${hd.redis.maxTotal}"/>
        <property name="maxIdle" value="${hd.redis.maxIdle}"/>
        <property name="minIdle" value="${hd.redis.minIdle}"/>
    </bean>

    <!--配置redis连接工厂-->
    <bean id="redisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="${hd.redis.url}"/>
        <property name="port" value="${hd.redis.port}"/>
        <property name="database" value="${hd.redis.database}"/>
        <property name="password" value="${hd.redis.password}"/>
        <property name="timeout" value="${hd.redis.connection.timeout}"/>
        <property name="poolConfig" ref="jedisPoolConfig"/>
    </bean>


    <bean id="stringRedisSerializer" class="org.springframework.data.redis.serializer.StringRedisSerializer"/>

    <bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="redisConnectionFactory"/>
        <property name="enableTransactionSupport" value="true"/>
    </bean>

    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="redisConnectionFactory"/>
        <property name="enableTransactionSupport" value="true"/>
        <property name="keySerializer" ref="stringRedisSerializer"/>
        <property name="hashKeySerializer" ref="stringRedisSerializer"/>
    </bean>

    <!--配置RedisCacheManager -->
    <bean id="redisCacheManager" class="org.springframework.data.redis.cache.RedisCacheManager">
        <!--支持事务-->
        <property name="transactionAware" value="true"/>
        <constructor-arg name="redisOperations" ref="redisTemplate"/>
        <!--过期时间-->
        <property name="defaultExpiration" value="${hd.redis.redis.expiration}"/>
    </bean>

    <!-- 配置RedisCacheConfig -->
    <bean id="redisCacheConfig" class="com.headerits.redis.RedisCacheConfig">
        <constructor-arg ref="redisConnectionFactory"/>
        <constructor-arg ref="redisTemplate"/>
        <constructor-arg ref="redisCacheManager"/>
    </bean>
</beans>

